@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bgColor: #333;
    --textPrimary: #fff;
    --textSecundary: #666;
    --primaryColor: #fd4;
}

body {
    font-family: "Roboto Condensed", sans-serif;
    background-color: var(--bgColor);
    color: var(--textPrimary);
    font-size: 1.4rem;
}

main {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 0 15px;
}

h1 {
    color: var(--primaryColor);
    text-shadow: 0 0 0.5px rgb(211, 225, 12),
        0 0 5px rgb(255, 251, 0),
        0 0 0px rgb(173, 216, 79),
        0 0 10px rgb(0, 0, 0);
    text-align: center;
    padding-top: 0px;
}

svg {
    width: 40px;
    fill: var(--primaryColor);
    padding: 0px;
}

#header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 10px 40px;
}

#botones {
    text-align: right;
}

button {
    background: rgba(255, 255, 255, 0.39);
    border: blue;
    color: white;
    padding: 5px 20px;
    border-radius: 10px;
    cursor: pointer;
}

#info {
    color: var(--primaryColor);
}

div.palabras {
    display: inline-block;
    font-family: 'Roboto Condensed', monospace;
    margin: 0 5px;
}

input {
    background-color: var(--bgColor);
    border-color: rgb(236, 228, 228);
    font-family: 'Roboto Condensed', monospace;
    width: 100%;
    max-width: 700px;
    padding: 10px;
    box-sizing: border-box;
    margin: 30px 0px 50px;
    box-shadow: 0 0 10px rgb(211, 225, 12),
        0 0 20px rgb(255, 251, 0),
        0 0 40px rgb(173, 216, 79),
        0 0 20px rgb(183, 255, 0);
    transition: 0.3s;
}

p {
    text-align: center;
}

/* ----------------------------- */
/*   RESPONSIVE PARA CELULARES   */
/* ----------------------------- */

@media (max-width: 600px) {

    #header {
        grid-template-columns: 1fr;
        text-align: center;
        row-gap: 15px;
    }

    #botones {
        text-align: center;
    }

    svg {
        margin: 0 auto;
    }

    button {
        width: 100%;
        padding: 10px 0;
        font-size: 1.2rem;
    }

    input {
        font-size: 1.1rem;
        padding: 12px;
    }

}
